/* Common Styles */
* {
	box-sizing: border-box;
}

:focus {
	outline: 0;
	border: none;
}

::-webkit-input-placeholder {
	color: #888;
}

:-moz-placeholder {
	color: #888;
}

::-moz-placeholder {
	color: #888;
}

:-ms-input-placeholder {
	color: #888;
}

a {
	color: blue;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font: 14px 'Montserrat', sans-serif;
}

p {
	text-align: justify;
}

.action-btn {
	background-color: #ea2e49;
	height: 50px;
	border-radius: 30px;
	border: none;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 100;
	color: #fff;
	text-align: left;
	padding-left: 35px;
	padding-right: 35px;
	position: relative;
	cursor: pointer;
	transition: all .2s;
}

.action-btn:hover {
	box-shadow: 0px 0px 60px -17px rgba(51, 51, 51, 1);
}

.action-btn:after {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	right: 35px;
	top: 18px;
}

/* Header Styles */
.header {
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
	z-index: 3;
	position: absolute;
	top: 25px;
	left: 25px;
	right: 25px;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

.header li a {
	display: block;
	padding: 20px 20px;
	border-right: 1px solid #f4f4f4;
	text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
	background-color: #f4f4f4;
}

.header .logo {
	display: block;
	float: left;
	padding: 4px 20px 0;
	text-decoration: none;
}

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}

.header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

.sticky1 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

/* Main Content Styles */
.main-cont {
	position: absolute;
	top: 100%;
	width: 100%;
	background: #9ea6b3;
}

.sidebar {
	float: left;
	width: 28%;
	height: 300px;
	background: white;
	padding: 1em;
	margin: 1%;
}

.blog-content {
	float: right;
	width: 70%;
	background: #9ea6b3;
	padding: 1em;
}

.blog-content img {
	width: 100%;
}

.blog-content article {
	padding: 20px;
	border: 1px solid #999;
	border-radius: 5px;
	background: #fff;
}

.blog-content a:link,
.blog-content a:visited {
	color: black;
}

.blog-content h1 {
	margin-top: 0;
	margin-left: 0.75rem;
}

.blog-content main {
	columns: 250px;
	column-gap: 20px;
}

.blog-content article {
	break-inside: avoid-column;
	margin-bottom: 1rem;
}

.blog-content .action-btn {
	height: 32px;
	font-size: 12px;
	padding-left: 20px;
	padding-right: 20px;
}

.sticky-stopper {
	clear: both;
}

.call2action {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	background: #a9785c;
}

.call2action h2 {
	font-size: 3rem;
	font-weight: normal;
}

.infopanel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: #fbad99;
}

.infopanel .col {
	flex-basis: 100px;
	flex-grow: 0;
	text-align: center;
}

.infopanel p {
	text-align: center;
}

.counter-value {
	font-weight: bold;
	font-size: 2em;
}

.footer {
	display: flex;
	background: white;
	position: relative;
	height: 500px;
}

.footer .col {
	flex-grow: 1;
	flex-basis: 25%;
	padding: 1em;
}

.footer h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

.footer ul li {
	list-style-type: none;
	margin: 0 0 10px;
}

.footer ul li a {
	text-decoration: none;
	color: blue;
}

.footer .z-index {
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.75);
}

.footer .mapcontainer {
	position: absolute;
	width: 100%;
	height: 500px;
}

.footer .mapcontainer .google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 500px !important;
}

.contact h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact textarea {
	width: 100%;
	border: 1px solid #CCC;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
}

.contact input[type="text"]:hover,
.contact input[type="email"]:hover,
.contact input[type="tel"]:hover,
.contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #AAA;
}

.contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}

.contact input:focus,
.contact textarea:focus {
	outline: 0;
	border: 1px solid #999;
}

/* Slider Styles */
.css-slider-wrapper {
	display: block;
	background: #FFF;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.slider {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	z-index: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	-webkit-transition: -webkit-transform 1600ms;
	transition: -webkit-transform 1600ms, transform 1600ms;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.slide-1 {
	background: #fbad99;
	left: 0;
}

.slide-2 {
	background: #a9785c;
	left: 100%
}

.slide-3 {
	background: #9ea6b3;
	left: 200%
}

.slide-4 {
	background: #b1a494;
	left: 300%;
}

.slider {
	display: flex;
	justify-content: flex-start;
}

.slider-content {
	width: 635px;
	padding-left: 100px;
}

.slider h2 {
	color: #333333;
	font-weight: 900;
	text-transform: capitalize;
	font-size: 60px;
	font-weight: 300;
	line-height: 1.2;
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
	margin-top: 0;
	letter-spacing: 2px;
}

.slider h4 {
	font-size: 22px;
	font-family: "Oswald";
	color: rgba(51, 51, 51, 0.349);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
}

.slide-1 > img {
	right: 0;
}

.slider .action-btn:focus,
.navigation .login-btn:focus {
	outline: none;
}

/* Animations */
.slider h2 {
	-webkit-transition: opacity 800ms, -webkit-transform 800ms;
	transition: transform 800ms, opacity 800ms;
	-webkit-transition-delay: 1s;
	/* Safari */
	transition-delay: 1s;
}

.slider h4 {
	-webkit-transition: opacity 800ms, -webkit-transform 800ms;
	transition: transform 800ms, opacity 800ms;
	-webkit-transition-delay: 1.4s;
	/* Safari */
	transition-delay: 1.4s;
}

/* Number Pagination */
.number-pagination {
	position: absolute;
	bottom: 30px;
	right: 100px;
	font-family: "Oswald";
	font-weight: bold;
}

.number-pagination span {
	font-size: 30px;
	color: #ea2e49;
	letter-spacing: 4px;
}

.number-pagination span:after {
	content: "/4";
	font-size: 16px;
	color: #fff;
}

/* Slider Pagger */
.slider-pagination {
	position: absolute;
	bottom: 30px;
	width: 575px;
	left: 100px;
	z-index: 1000;
	display: flex;
	align-items: center;
}

.slider-pagination label {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: inline-block;
	background: #fff;
	margin: 0 10px;
	cursor: pointer;
}

/* Slider Pagger Event */
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4 {
	width: 14px;
	height: 14px;
	border: 2px solid #ea2e49;
	background: transparent;
}

/* Slider Slide Effect */
.slide-radio1:checked ~ .slider {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.slide-radio2:checked ~ .slider {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.slide-radio3:checked ~ .slider {
	-webkit-transform: translateX(-200%);
	transform: translateX(-200%);
}

.slide-radio4:checked ~ .slider {
	-webkit-transform: translateX(-300%);
	transform: translateX(-300%);
}

.slide-radio1:checked ~ .slide-1 h2,
.slide-radio2:checked ~ .slide-2 h2,
.slide-radio3:checked ~ .slide-3 h2,
.slide-radio4:checked ~ .slide-4 h2,
.slide-radio1:checked ~ .slide-1 h4,
.slide-radio2:checked ~ .slide-2 h4,
.slide-radio3:checked ~ .slide-3 h4,
.slide-radio4:checked ~ .slide-4 h4,
.slide-radio1:checked ~ .slide-1 > img,
.slide-radio2:checked ~ .slide-2 > img,
.slide-radio3:checked ~ .slide-3 > img,
.slide-radio4:checked ~ .slide-4 > img {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1
}



/* Responsive */

@media (min-width: 768px) {
	.header li {
		float: left;
	}

	.header li a {
		padding: 20px 30px;
	}

	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}

	.header .menu-icon {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.sidebar {
		position: static !important;
		width: 100%;
		height: auto;
		margin: 0;
	}

	.blog-content {
		width: 100%;
	}

	.slider h2 {
		font-size: 20px;
	}

	.slider h4 {
		font-size: 16px;
	}

	.slider-content {
		padding: 0 2%
	}

	.number-pagination {
		right: 2%;
	}

	.slider-pagination {
		left: 2%;
	}

	.slider .action-btn {
		padding: 0 15px;
		height: 42px;
	}

	.slider .action-btn:after {
		top: 15px;
	}

	.footer {
		flex-flow: column;
	}

	.footer .mapcontainer,
	.footer .mapcontainer .google-maps iframe {
		position: static;
	}
}
